.banner{
    background-image: url('./images/hero-section.png');
}

.block-one{
    background-image: url('./images/summer-island-netherland.png');
}
.block-two{
    background-image: url('./images/banking-website.png');
}
.block-three{
    background-image: url('./images/philips-lights.png');
}
.block-four{
    background-image: url('./images/mondriaan.png');
}

.block-five {
    background-image: url('./images/thinking-man.png');
}

.block-six {
    background-image: url('./images/street-light.png');
}
.block-seven {
    background-image: url('./images/graphity.png');
}
.block-eight {
    background-image: url('./images/beach.png');
}
.block-nine {
    background-image: url('./images/chocomel-packs.png');
}
.block-ten {
    background-image: url('./images/jerome-boateng.png');
}
.block-elleven {
    background-image: url('./images/zalando.png');
}
.block-twelve {
    background-image: url('./images/books.png');
}
.block-thirteen {
    background-image: url('./images/servers.png');
}
.block-fourteen {
    background-image: url('./images/protein-drinks.png');
}

.google-logo {
    background-image: url('./images/google.png');
}

.levis-logo {
    background-image: url('./images/levis.png');
}
.netflix-logo {
    background-image: url('./images/netflix.png');
}
.spotify-logo {
    background-image: url('./images/spotify.png');
}
.patagonia-logo {
    background-image: url('./images/patagonia.png');
}
.fujitsu-logo {
    background-image: url('./images/fujitsu.png');
}
.adyen-logo {
    background-image: url('./images/adyen.png');
}
.audi-logo {
    background-image: url('./images/audi.png');
}
.triumph-logo {
    background-image: url('./images/triumph.png');
}
.tesla-logo {
    background-image: url('./images/tesla.png');
}
.asos-logo {
    background-image: url('./images/asos.png');
}
.takeaway-logo {
    background-image: url('./images/takeaway.png');
}
.icon-img{
    background-image: url('./images/ellipsis.png');
}